#############################################
###                                       ###
###   Dependencies for Messages Project   ###
###                                       ###
###    To Install all Requirements        ###
###    Run the following:                 ###
###    pip install -r requirements.txt    ###
###                                       ###
#############################################

pymongo
PyYAML == 5.3
enum34
